html {
    font-size: 18px;
}

body {
    background-color: $black;
    background-image: url('./img/ballet-768w.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: $white;
    font-family: 'Open Sans', sans-serif;

    @media(min-width: $screen-md) {
        background-image: url('./img/ballet-992w.jpg');
    }

    @media(min-width: $screen-lg) {
        background-image: url('./img/ballet-1200w.jpg');
    }

    @media(min-width: $screen-xl) {
        background-image: url('./img/ballet-2560w.jpg');
    }
}

a {
    color: $blue;
}

.container {
    margin: 0 auto;
    padding: 15px;

    @media(min-width: $screen-lg) {
        max-width: 940px;
    }

    @media(min-width: $screen-xl) {
        max-width: 1140px;
    }
}