html {
    font-size: 18px;
}

body {
    background-color: $black;
    background-image: url('./img/kadr-postit-768w.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: $black;
    font-family: 'Hind', sans-serif;

    @media(min-width: $screen-md) {
        background-image: url('./img/kadr-postit-992w.jpg');
    }

    @media(min-width: $screen-lg) {
        background-image: url('./img/kadr-postit-1200w.jpg');
    }

    @media(min-width: $screen-xl) {
        background-image: url('./img/kadr-postit-2560w.jpg');
    }
}

a {
    color: $blue;
}

.container {
    @include make-container();

    &.thin {
        @include make-thin-container();
    }
}

.wp-post-image {
    max-width: 100%;
    height: auto;
}