.cover-container {
    min-height: 70vh;

    @media(max-width: $screen-md) {
        &.container {
            margin-top: 3rem;
            padding-top: 5rem;
        }
    }

    @media(min-width: $screen-xl) {
        padding-top: 10rem;
    }

    img {
        max-width: 100%;

        @media(min-width: $screen-md) {
            margin-top: 8rem;
            margin-bottom: 2rem;
        }
    }

    .next-meeting-date {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;

        .date {
            font-weight: bold;
        }
    }

    .next-meeting-data {
        margin-top: 2rem;
        margin-bottom: 2rem;

        p {
            margin: 0;
            padding: 0;
        }
    }

    .next-meeting-place {
        line-height: 1.5rem;
    }

    .next-meeting-date, a {
        font-size: 1.75rem;
    }

    .button {
        font-size: 1.25rem;
        font-weight: 400;
    }
}

.border {
    border-bottom: 1px solid $gray-light;
}

.button {
    background-color: $blue;
    color: $white;
    text-decoration: none;
    text-align: center;
    padding: 1.2rem;
    display: inline-block;
    border-radius: 4px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;

    &:hover {
        background-color: lighten($blue, 5%);
    }

    &.button-light {
        background-color: $blue-light;

        &:hover {
            background-color: lighten($blue-light, 5%);
        }
    }
}

.about-logo {
    @media(min-width: $screen-md) {
        float: left;
        margin-right: 4rem;
        margin-left: 4rem;
    }
}
